<div class="container">
    <h2>Lebenslauf</h2>

    <div>
        <section>
            <h3>Persönliche Daten</h3>
            <ul *ngFor="let key of (cv.Persoenliche_Daten | keyvalue)">
                <li>{{ key.key }}: {{ key.value }}</li>

            </ul>
            <ul>
                <li><a href="{{cv.Github.link}}" style="color: #F25C54 !important;">Github</a></li>
            </ul>


        </section>

        <section>
            <h3>Fähigkeiten</h3>
            <ul *ngFor="let skill of cv.Faehigkeiten">
                <li>{{ skill }}</li>
            </ul>
        </section>


        <section>
            <h3>Jobs</h3>
            <ul>
                <li *ngFor="let job of cv.Berufe">

                    {{job.Startdatum}} - {{job.Enddatum}} <br>
                    {{job.Titel}} <br>
                    {{job.Unternehmen}}


                </li>
            </ul>

        </section>

        <section>
            <h3>Weiterbildung</h3>
            <ul>
                <li *ngFor="let course of cv.Weiterbildung">
                    {{course.Kurs}} <br>
                    <span *ngIf="course.Datum">{{course.Datum}} </span>
                    <span *ngIf="course.Startdatum">{{course.Startdatum}} - {{course.Enddatum}} </span>
                    <span>{{course.Einrichtung}}</span>
                </li>
            </ul>

        </section>

        <section>
            <h3>Studium</h3>
            <ul>
                <li *ngFor="let study of cv.Studium">
                    <span>{{study.Startdatum}} - {{study.Enddatum}}: {{study.Abschluss}}</span> <br>
                    <span>{{study.Einrichtung}}</span>

                </li>
            </ul>

        </section>

        <section>
            <h3>Sprachen</h3>
            <ul>
                <li *ngFor="let key of (cv.Sprachen | keyvalue)">
                    {{ key.key }}: {{ key.value }}
                </li>
            </ul>

        </section>

        <section>
            <h3>Schulbildung</h3>
            <ul>
                <li>{{cv.Schulbildung.Startdatum}} - {{cv.Schulbildung.Enddatum}}: {{cv.Schulbildung.Schule}}</li>
            </ul>
        </section>
    </div>

</div>