.slideshow {
    height: 100vh;
    width: 100vw;
    background-color: #181818;
    overflow: hidden;
    display: none;
}

.photos {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
    position: relative;
    filter: drop-shadow(0 0 0.35rem rgb(64, 64, 64));
    transition: all 0.3s ease-in;
}

.project {
    margin-bottom: 4em;
}

a {
    color: orange;
    text-decoration: none;

}

a:hover {
    color: #F25C54;
    /* border-bottom: 2px solid #F25C54; */
}

footer {
    text-align: center;
}

.backtotop {
    display: inline-block;
    text-align: center;
    padding: 10px;

}

.backtotop:hover {
    background-color: #F25C54;
    color: white !important;
    border-bottom: none;    
}