<div class="slideshow" #slideshow>
</div>
<div class="container">
    <h2>Portfolio</h2>
    <div>
        <div *ngFor="let category of sortedCategories()">
            <h3>{{category}}</h3>
            <div *ngFor="let project of getProjectsByCategory(category)" class="project">
                <h4>{{project.name}}</h4>
                <div class="photos">
                    <div *ngFor="let photo of project.photos" class="photo">
                        <img [src]="photo.path" alt="{{project.name}}">
                    </div>
                </div>
                <p>{{project.description}}</p>
            </div>
        </div>
    </div>

    <!-- <footer>
        <a href="/projekte" class="backtotop">Back to top &uarr;</a>
    </footer> -->
</div>