

.header {
    background-color: var(--nav-background-color); 
    /* padding: 1em 5em; */
}

h1 {

}

.navBar {
   background-color: var(--nav-navbar-color);
   padding: 5px 15%;
}

ul {
    margin: 0;
}

.navBar ul {
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    gap: 2em;
    padding: 0;
    

    nav li {
        font-family: 'Rubik', sans-serif;

    }
}