:root {
    --nav-background-color: rgb(244, 244, 244);

    --nav-navbar-color: #EBEBEB
}

html {
    scroll-behavior: smooth;
}

/* html,
body {
    height: 100%;
} */

body {
    margin: 0;

    font-family: 'Sofia sans', sans-serif;
}


h1 {
    font-size: 2em;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0.4em 0;

}

h2 {
    font-size: 2em;
    font-family: 'Rubik', sans-serif;
    margin: 0 0 0.5em 0;
}

h3 {
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
}

h4 {
    margin: 0 0 0.5em 0;
    font-weight: medium;
    font-size: 1em;
}

p,
li {
    font-size: 1em;
    line-height: 1.5em;
}

.container {
    padding: 3% 15%;
    max-width: fit-content;
    padding-bottom: 1em;
}

